In [1]:
f<-function(a, b=1, c=2, d=NULL){
  # do something
}

In [4]:
args(f)

function (a, b = 1, c = 2, d = NULL)
NULL

In [5]:
args(lm)

function (formula, data, subset, weights, na.action, method = "qr",
    model = TRUE, x = FALSE, y = FALSE, qr = TRUE, singular.ok = TRUE,
    contrasts = NULL, offset, ...)
NULL

In [6]:
f<-function(a,b,...){
  print(a, b, ...)
}

In [7]:
f(2,3,4)

[1] 2

In [11]:
print(3, 2, 5)

[1] 3

In [13]:
args(paste)

function (..., sep = " ", collapse = NULL)
NULL

In [14]:
args(cat)

function (..., file = "", sep = " ", fill = FALSE, labels = NULL,
    append = FALSE)
NULL

In [15]:
add2<-function(x,y){
  x+y
}

In [16]:
add2(3,5)

[1] 8

In [17]:
above<-function(x,n=10){
  use <- x > n
  x[use]
}

In [18]:
x<-1:20

In [19]:
above(x)

 [1] 11 12 13 14 15 16 17 18 19 20

In [21]:
columnmean <- function(y, removeNA=TRUE){
  nc <- ncol(y)
  means <- numeric(nc)
  for(i in 1:nc){
    means[i] <- mean(y[,i], na.rm = removeNA)
  }
  means
}

In [22]:
columnmean(airquality)

[1]  42.129310 185.931507   9.957516  77.882353   6.993464  15.803922

In [24]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1    41     190  7.4   67     5   1
2    36     118  8.0   72     5   2
3    12     149 12.6   74     5   3
4    18     313 11.5   62     5   4
5    NA      NA 14.3   56     5   5
6    28      NA 14.9   66     5   6

In [25]:
x <- Sys.time()
x

[1] "2016-05-30 18:52:19 EDT"

In [27]:
class(x)

[1] "POSIXct" "POSIXt"

In [28]:
p <- as.POSIXlt(x)
p

[1] "2016-05-30 18:52:19 EDT"

In [29]:
names(unclass(p))

 [1] "sec"    "min"    "hour"   "mday"   "mon"    "year"   "wday"   "yday"
 [9] "isdst"  "zone"   "gmtoff"

In [30]:
p$sec

[1] 19.29944

In [31]:
unclass(x)

[1] 1464648739

In [33]:
x$sec

ERROR: Error in x$sec: $ operator is invalid for atomic vectors

In [35]:
x<-as.Date("2012-01-01")

In [36]:
class(x)

[1] "Date"

In [37]:
y<-strptime("9 Jan 2011 11:34:21", "%d %b %Y %H:%M:%S")

In [41]:
y

[1] "2011-01-09 11:34:21 EST"

In [38]:
class(y)

[1] "POSIXlt" "POSIXt"

In [39]:
x-y

Warning message:
In eval(expr, envir, enclos): Incompatible methods ("-.Date", "-.POSIXt") for "-"

ERROR: Error in x - y: non-numeric argument to binary operator

In [40]:
x<-as.POSIXlt(x); x

[1] "2012-01-01 UTC"

In [42]:
x - y

Time difference of 356.3095 days