In [2]:
library(xlsx)

In [3]:
if(!file.exists("./data/lala.xlsx")) {
    fileurl<-"https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx"
    download.file(fileurl,destfile="./data/lala.xlsx",method="curl")
    dateDownloaded <- date()
}
lala<-read.xlsx("./data/lala.xlsx",sheetIndex=1,header=TRUE)

In [5]:
class(lala); head(lala)

[1] "data.frame"

  Table.Name..Contract          NA.               NA..1     NA..2
1       ContractNumber ContractorId          ExpiryDate CFileName
2   GS-00P-02-BSC-0201           23 2004-09-30 00:00:00      <NA>
3   GS-00P-02-BSC-0204            5 2003-10-31 00:00:00      NULL
4   GS-00P-02-BSC-0206            6 2004-10-31 00:00:00      <NA>
5   GS-00P-02-BSC-0207            4 2006-10-31 00:00:00      <NA>
6   GS-00P-02-BSC-0209            7 2004-10-31 00:00:00      <NA>
                NA..3 NA..4 NA..5 NA..6 NA..7 NA..8 NA..9 NA..10 NA..11 NA..12
1      ReactivationDt  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>   <NA>   <NA>   <NA>
2 2004-09-30 00:00:00  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>   <NA>   <NA>   <NA>
3                NULL  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>   <NA>   <NA>   <NA>
4 2004-11-02 00:00:00  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>   <NA>   <NA>   <NA>
5 2004-11-01 00:00:00  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>   <NA>   <NA>   <NA>
6 2004-11-01 00:00:00  <NA>  <NA>  <NA>  <NA>  <NA>  <NA>   <NA>   <NA>   <NA>
  NA..13 NA..14 NA..15 NA..16 NA..17 NA..18 NA..19 NA..20 NA..21 NA..22 NA..23
1   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
2   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
3   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
4   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
5   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
6   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>   <NA>
  NA..24
1   <NA>
2   <NA>
3   <NA>
4   <NA>
5   <NA>
6   <NA>

In [6]:
rowIndex<-18:23
colIndex<-7:15
dat<-read.xlsx("./data/lala.xlsx",sheetIndex=1, colIndex=colIndex, rowIndex=rowIndex)
head(dat)

    Zip CuCurrent PaCurrent PoCurrent      Contact Ext          Fax email
1 74136         0         1         0 918-491-6998   0 918-491-6659    NA
2 30329         1         0         0 404-321-5711  NA         <NA>    NA
3 74136         1         0         0 918-523-2516   0 918-523-2522    NA
4 80203         0         1         0 303-864-1919   0         <NA>    NA
5 80120         1         0         0 345-098-8890 456         <NA>    NA
  Status
1      1
2      1
3      1
4      1
5      1

In [7]:
sum(dat$Zip*dat$Ext,na.rm=T)

[1] 36534720