In [37]:
library(sqldf)

if(!file.exists("./data/acs.csv")) {
    fileUrl <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06pid.csv"
    download.file(fileUrl, destfile = "./data/acs.csv", method = "curl")
    dateDownloaded <- date()
}
acs <- read.table("./data/acs.csv",sep=",",header=TRUE)

In [38]:
dim(acs)
head(acs)

[1] 14931   239

  RT SERIALNO SPORDER PUMA ST  ADJUST PWGTP AGEP CIT COW DDRS DEYE DOUT DPHY
1  P      186       1  700 16 1015675    89   43   1   7    2    2    2    2
2  P      186       2  700 16 1015675    92   42   1   4    2    2    2    2
3  P      186       3  700 16 1015675   107   16   1   1    2    2    2    2
4  P      186       4  700 16 1015675    91   14   1  NA    2    2   NA    2
5  P      306       1  700 16 1015675   309   29   1   5    2    2    2    2
6  P      395       1  100 16 1015675   108   40   1   8    2    2    2    2
  DREM DWRK ENG FER GCL GCM GCR INTP JWMNP JWRIP JWTR LANX MAR MIG MIL MILY
1    2    2  NA  NA   2  NA  NA    0    15     1    1    2   1   1   3    2
2    2    2  NA   2   2  NA  NA    0    NA    NA   NA    2   1   1   5   NA
3    2    2  NA  NA  NA  NA  NA    0     5     1    1    2   5   1  NA   NA
4    2   NA  NA  NA  NA  NA  NA   NA    NA    NA   NA    2   5   1  NA   NA
5    2    2  NA  NA  NA  NA  NA    0    50     8    1    2   5   1   2    2
6    2    2  NA   2   2  NA  NA    0     8     1    1    2   5   2   5   NA
  MLPA MLPB MLPC MLPD MLPE MLPF MLPG MLPH MLPI MLPJ MLPK NWAB NWAV NWLA NWLK
1    0    0    1    0    0    0    0    0    0    0    0    3    5    3    3
2   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA    2    5    2    2
3   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA    3    5    3    3
4   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA
5    1    0    0    0    0    0    0    0    0    0    0    3    5    3    3
6   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA   NA    2    5    2    2
  NWRE OIP PAP REL RETP SCH SCHG SCHL  SEMP SEX SSIP SSP  WAGP WKHP WKL WKW
1    3   0   0   0    0   1   NA   10 50000   1    0   0 50000   50   1  52
2    3   0   0   1    0   1   NA    9     0   2    0   0   800    4   1  20
3    3   0   0   2    0   3    5    7     0   1    0   0  4800   20   1  52
4   NA  NA  NA   2   NA   3    4    4    NA   2   NA  NA    NA   NA  NA  NA
5    3   0   0   0    0   1   NA   12     0   1    0   0 34000   50   1  52
6    2   0   0   0    0   1   NA   13     0   2    0   0  9000   50   1  52
  YOEP UWRK ANC ANC1P ANC2P DECADE DRIVESP DS ESP ESR HISP INDP JWAP JWDP LANP
1   NA    1   2   920   148     NA       1  2  NA   1    1 7690   88   46   NA
2   NA    2   1   920   999     NA      NA  2  NA   6    1 7870   NA   NA   NA
3   NA    1   2   920   148     NA       1  2   2   1    1 8680  200  119   NA
4   NA   NA   1   920   999     NA      NA  2   2  NA    1   NA   NA   NA   NA
5   NA    1   2   902   920     NA       6  2  NA   1    1 9590   72   23   NA
6   NA    1   2    82    22     NA       1  2  NA   1    1 5370  101   61   NA
  MIGPUMA MIGSP MSP NAICSP NATIVITY NOP OC OCCP PAOC  PERNP  PINCP POBP POVPIP
1      NA    NA   1  5617Z        1  NA  0 4200   NA 100000 100000   53    501
2      NA    NA   1  611M1        1  NA  0 2340    2    800    800   41    501
3      NA    NA   6   722Z        1   1  1 4020   NA   4800   4800   16    501
4      NA    NA  NA               1   1  1   NA   NA     NA     NA   41    501
5      NA    NA   6   928P        1  NA  0 7140   NA  34000  34000   36    333
6       1   215   6  45121        1  NA  0 4700    2   9000   9000   16     68
  POWPUMA POWSP QTRBIR RAC1P RAC2P RAC3P RACAIAN RACASN RACBLK RACNHPI RACNUM
1     600    16      3     1     1    69       0      0      0       0      1
2      NA    NA      3     1     1    69       0      0      0       0      1
3     600    16      2     1     1    69       0      0      0       0      1
4      NA    NA      4     1     1    69       0      0      0       0      1
5     400    16      1     9    67    43       1      0      1       0      2
6     100    16      1     1     1    69       0      0      0       0      1
  RACSOR RACWHT RC SFN SFR   SOCP VPS WAOB FAGEP FANCP FCITP FCOWP FDDRSP
1      0      1  0  NA  NA 371011   9    1     0     0     0     0      0
2      0      1  0  NA  NA 253000  NA    1     0     0     0     0      0
3      0      1  1  NA  NA 352010  NA    1     0     0     0     0      0
4      0      1  1  NA  NA         NA    1     0     0     0     0      0
5      0      0  0  NA  NA 493011   1    1     0     0     0     0      0
6      0      1  0  NA  NA 411011  NA    1     0     0     0     0      0
  FDEYEP FDOUTP FDPHYP FDREMP FDWRKP FENGP FESRP FFERP FGCLP FGCMP FGCRP FHISP
1      0      0      0      0      0     0     0     0     0     0     0     0
2      0      0      0      0      0     0     0     0     0     0     0     0
3      0      0      0      0      0     0     0     0     0     0     0     0
4      0      0      0      0      0     0     0     0     0     0     0     0
5      0      0      0      0      0     0     0     0     0     0     0     0
6      0      0      0      0      0     0     0     1     0     0     0     0
  FINDP FINTP FJWDP FJWMNP FJWRIP FJWTRP FLANP FLANXP FMARP FMIGP FMIGSP FMILPP
1     0     0     0      0      0      0     0      0     0     0      0      0
2     0     0     0      0      0      0     0      0     0     0      0      0
3     0     0     0      0      0      0     0      0     0     0      0      0
4     0     0     0      0      0      0     0      0     0     0      0      0
5     0     0     0      0      0      0     0      0     0     0      0      0
6     0     0     0      0      0      0     0      0     0     0      1      0
  FMILSP FMILYP FOCCP FOIP FPAP FPOBP FPOWSP FRACP FRELP FRETP FSCHGP FSCHLP
1      0      0     0    0    0     0      0     0     0     0      0      0
2      0      0     0    0    0     0      0     0     0     0      0      0
3      0      0     0    0    0     0      0     0     0     0      0      0
4      0      0     0    0    0     0      0     0     0     0      0      0
5      0      0     0    0    0     0      0     0     0     0      0      0
6      0      0     0    0    0     0      0     0     0     0      0      0
  FSCHP FSEMP FSEXP FSSIP FSSP FWAGP FWKHP FWKLP FWKWP FYOEP pwgtp1 pwgtp2
1     0     0     0     0    0     0     0     0     0     0     87     28
2     0     0     0     0    0     1     0     0     1     0     88     30
3     0     0     0     0    0     0     0     0     0     0     94     33
4     0     0     0     0    0     0     0     0     0     0     91     28
5     0     0     0     0    0     0     0     0     0     0    539    365
6     0     0     0     0    0     0     0     0     0     0    192     34
  pwgtp3 pwgtp4 pwgtp5 pwgtp6 pwgtp7 pwgtp8 pwgtp9 pwgtp10 pwgtp11 pwgtp12
1    153     93     26     26     95     93     93      92      87     163
2    167     96     27     25     95    100     99      90      91     164
3    163    110     33     29    119    112    109     110     101     184
4    161    100     28     26     98    106    106      98      88     162
5    288    414    573    293     86    245    450     456     334     352
6    191    177     84     96     31     33    180     118     111     115
  pwgtp13 pwgtp14 pwgtp15 pwgtp16 pwgtp17 pwgtp18 pwgtp19 pwgtp20 pwgtp21
1      91      25     153      89     149      83      25     180      89
2      92      26     155      95     154      86      24     190      89
3     103      32     190     116     178      95      29     219     104
4      90      26     164     103     149      90      24     190      93
5     417     103     283     100     108     282     129     408     442
6     188     109      98     118      33     120     123      37     185
  pwgtp22 pwgtp23 pwgtp24 pwgtp25 pwgtp26 pwgtp27 pwgtp28 pwgtp29 pwgtp30
1      23     139      91      24      26      87      82      86      90
2      25     142      96      26      30      88      85      92     100
3      29     182     118      32      35     106      98      97     104
4      25     145      95      25      27      88      82      90      90
5     261     349     237     383     333     124     367     481     458
6      36     178     179     110     105      30      29     200     130
  pwgtp31 pwgtp32 pwgtp33 pwgtp34 pwgtp35 pwgtp36 pwgtp37 pwgtp38 pwgtp39
1      90     151      91      28     144      81     146      95      27
2      94     154      91      29     154      88     151      96      27
3     105     191     107      35     176     101     168     112      34
4      93     157      86      26     146      80     144      93      27
5     336     255     614     102     284     117      93     327     102
6      92     120     178     101     100     109      34      99     108
  pwgtp40 pwgtp41 pwgtp42 pwgtp43 pwgtp44 pwgtp45 pwgtp46 pwgtp47 pwgtp48
1      22      89     173      27      84     153     149      93      89
2      25      93     163      29      83     156     153      96      90
3      28     100     184      38     109     192     174     125     113
4      23      92     160      28      85     156     148      96      99
5     356     106     256     326     290      96     346     571     268
6      33     176      36     172     175      99     103      31      37
  pwgtp49 pwgtp50 pwgtp51 pwgtp52 pwgtp53 pwgtp54 pwgtp55 pwgtp56 pwgtp57
1      91      92      90      27      91     139      25      91      29
2      91      98      93      27      98     150      28      96      30
3      95     107     103      35     104     164      33     110      34
4      90      97      93      27     100     151      26      93      30
5     117     118     320     263     128     453     298     480     393
6     160     104      97     111     190     121     115     114      36
  pwgtp58 pwgtp59 pwgtp60 pwgtp61 pwgtp62 pwgtp63 pwgtp64 pwgtp65 pwgtp66
1      84     149      30      94     140      24      90     147     148
2      85     152      30      98     144      24      92     161     163
3      97     188      40     110     176      34     113     190     186
4      87     144      33     101     152      23      95     148     149
5     307     480     282     117     347     323     377     106     239
6     114     104      29     189      35     180     172      96     112
  pwgtp67 pwgtp68 pwgtp69 pwgtp70 pwgtp71 pwgtp72 pwgtp73 pwgtp74 pwgtp75
1      93      82      84      87      82      27      92     150      28
2      97      88      89      93      84      26      90     159      30
3     107      99     101     109      90      28      92     177      33
4      92      86      84      87      81      28      94     164      29
5     386     309      90      96     294     400      80     489     340
6      28      35     237      97     123     119     171     108      97
  pwgtp76 pwgtp77 pwgtp78 pwgtp79 pwgtp80
1      78      25      99     159     129
2      87      27      98     167     131
3     105      30     104     206     156
4      88      27     104     156     138
5     491     612     282     462     259
6     104      31     127     108      31

In [39]:
sqldf("select count(*) from acs where AGEP < 50 and pwgtp1")

  count(*)
1    10093

In [40]:
unique(acs$AGEP)

 [1] 43 42 16 14 29 40 15 28 30  4  1 18 37 39  3 87 70 49 45 50 60 59 61 64 35
[26] 12 19 31  9  0 33 32 20 88 53 58 69 68 48 24 27 74 56 75 17 38 55 26 23 86
[51] 81 77  7 51 13 11 82 47 46 80 21 54 78 67 22  2 76  6 71 34 10  5 65 62 63
[76] 57 52 79 83 66 25 93  8 36 41 44 84 72 73 85 89

In [20]:
sqldf("select distinct AGEP from acs")

   AGEP
1    43
2    42
3    16
4    14
5    29
6    40
7    15
8    28
9    30
10    4
11    1
12   18
13   37
14   39
15    3
16   87
17   70
18   49
19   45
20   50
21   60
22   59
23   61
24   64
25   35
26   12
27   19
28   31
29    9
30    0
31   33
32   32
33   20
34   88
35   53
36   58
37   69
38   68
39   48
40   24
41   27
42   74
43   56
44   75
45   17
46   38
47   55
48   26
49   23
50   86
51   81
52   77
53    7
54   51
55   13
56   11
57   82
58   47
59   46
60   80
61   21
62   54
63   78
64   67
65   22
66    2
67   76
68    6
69   71
70   34
71   10
72    5
73   65
74   62
75   63
76   57
77   52
78   79
79   83
80   66
81   25
82   93
83    8
84   36
85   41
86   44
87   84
88   72
89   73
90   85
91   89

In [43]:
# households on greater than 10 acres who sold more than $10,000 worth of agriculture products
# ACR=3 AND AGS=6
agricultureLogical <- (acs$ACR==3 & acs$AGS==6)
which(agricultureLogical)

integer(0)

In [44]:
class(agricultureLogical)

[1] "logical"

----

In [21]:
rm(list = ls())
con=url("http://biostat.jhsph.edu/~jleek/contact.html")
htmlCode=readLines(con)

In [23]:
for (ind in c(10,20,30,100)){
  print(nchar(htmlCode[ind]))
}

[1] 45
[1] 31
[1] 7
[1] 25

In [31]:
library(foreign)
if(!file.exists('./data/wks.xpt')) {
    fileUrl <- "https://d396qusza40orc.cloudfront.net/getdata%2Fwksst8110.for"
    download.file(fileUrl, destfile = "./data/wks.xpt", method = "curl")
    dateDownloaded <- date()    
}
wksData<-read.fwf("./data/wks.xpt",skip=4,widths=c(12, 7,4, 9,4, 9,4, 9,4))

In [32]:
dim(wksData)

[1] 1254    9

In [33]:
head(wksData)

            V1   V2   V3   V4   V5   V6   V7   V8  V9
1  03JAN1990   23.4 -0.4 25.1 -0.3 26.6  0.0 28.6 0.3
2  10JAN1990   23.4 -0.8 25.2 -0.3 26.6  0.1 28.6 0.3
3  17JAN1990   24.2 -0.3 25.3 -0.3 26.5 -0.1 28.6 0.3
4  24JAN1990   24.4 -0.5 25.5 -0.4 26.5 -0.1 28.4 0.2
5  31JAN1990   25.1 -0.2 25.8 -0.2 26.7  0.1 28.4 0.2
6  07FEB1990   25.8  0.2 26.1 -0.1 26.8  0.1 28.4 0.3

In [35]:
sum(wksData[4])

[1] 32426.7

----

In [49]:
rm(list=ls())
library(jpeg)

if(!file.exists('./data/jeff.jpg')) {
    fileUrl <- "https://d396qusza40orc.cloudfront.net/getdata%2Fjeff.jpg"
    download.file(fileUrl, destfile = "./data/jeff.jpg", method = "curl")
}

img.n <- readJPEG("./data/jeff.jpg",TRUE)

In [50]:
class(img.n)

[1] "nativeRaster"

In [51]:
dim(img.n)

[1] 180 180

In [52]:
quantile(img.n,probs=c(0.3,0.8))

      30%       80%
-15259150 -10575416

---

In [62]:
rm(list=ls())
if(!file.exists('./data/gdp.csv')) {
    fileUrl <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FGDP.csv"
    download.file(fileUrl, destfile = "./data/gdp.csv", method = "curl")    
}
gdp <- read.csv("./data/gdp.csv")

if(!file.exists("./data/edu.csv")) {
    fileUrl1 <- "https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FEDSTATS_Country.csv"
    download.file(fileUrl1, destfile = "./data/edu.csv", method = "curl")    
}
edu <- read.csv("./data/edu.csv")

In [55]:
dim(gdp)

[1] 330  10

In [67]:
X=CountryCode
names(gdp)
names(edu)
head(gdp, 10)
head(edu[,1:12], 3)

ERROR: Error in eval(expr, envir, enclos): object 'CountryCode' not found

 [1] "X"                           "Gross.domestic.product.2012"
 [3] "X.1"                         "X.2"
 [5] "X.3"                         "X.4"
 [7] "X.5"                         "X.6"
 [9] "X.7"                         "X.8"

 [1] "CountryCode"
 [2] "Long.Name"
 [3] "Income.Group"
 [4] "Region"
 [5] "Lending.category"
 [6] "Other.groups"
 [7] "Currency.Unit"
 [8] "Latest.population.census"
 [9] "Latest.household.survey"
[10] "Special.Notes"
[11] "National.accounts.base.year"
[12] "National.accounts.reference.year"
[13] "System.of.National.Accounts"
[14] "SNA.price.valuation"
[15] "Alternative.conversion.factor"
[16] "PPP.survey.year"
[17] "Balance.of.Payments.Manual.in.use"
[18] "External.debt.Reporting.status"
[19] "System.of.trade"
[20] "Government.Accounting.concept"
[21] "IMF.data.dissemination.standard"
[22] "Source.of.most.recent.Income.and.expenditure.data"
[23] "Vital.registration.complete"
[24] "Latest.agricultural.census"
[25] "Latest.industrial.data"
[26] "Latest.trade.data"
[27] "Latest.water.withdrawal.data"
[28] "X2.alpha.code"
[29] "WB.2.code"
[30] "Table.Name"
[31] "Short.Name"

     X Gross.domestic.product.2012 X.1            X.2          X.3 X.4 X.5 X.6
1                                   NA                                  NA  NA
2                                   NA                (millions of      NA  NA
3                          Ranking  NA        Economy  US dollars)      NA  NA
4                                   NA                                  NA  NA
5  USA                           1  NA  United States  16,244,600       NA  NA
6  CHN                           2  NA          China   8,227,103       NA  NA
7  JPN                           3  NA          Japan   5,959,718       NA  NA
8  DEU                           4  NA        Germany   3,428,131       NA  NA
9  FRA                           5  NA         France   2,612,878       NA  NA
10 GBR                           6  NA United Kingdom   2,471,784       NA  NA
   X.7 X.8
1   NA  NA
2   NA  NA
3   NA  NA
4   NA  NA
5   NA  NA
6   NA  NA
7   NA  NA
8   NA  NA
9   NA  NA
10  NA  NA

  CountryCode                    Long.Name         Income.Group
1         ABW                        Aruba High income: nonOECD
2         ADO      Principality of Andorra High income: nonOECD
3         AFG Islamic State of Afghanistan           Low income
                     Region Lending.category Other.groups  Currency.Unit
1 Latin America & Caribbean                                Aruban florin
2     Europe & Central Asia                                         Euro
3                South Asia              IDA         HIPC Afghan afghani
  Latest.population.census Latest.household.survey
1                     2000
2           Register based
3                     1979              MICS, 2003
                                                                Special.Notes
1
2
3 Fiscal year end: March 20; reporting period for national accounts data: FY.
  National.accounts.base.year National.accounts.reference.year
1                        1995                               NA
2                                                           NA
3                   2002/2003                               NA

In [66]:
gdpclean<-gdp[5:194,]

In [68]:
mergedData=as.data.frame(merge(gdpclean,edu,by.x="X",by.y="CountryCode"))
mergedData$Gross.domestic.product.2012 = as.numeric(as.character(mergedData$Gross.domestic.product.2012))
summary(mergedData[mergedData$Income.Group=="High income: OECD",])

       X      Gross.domestic.product.2012   X.1                      X.2
 AUS    : 1   Min.   :  1.00              Mode:logical   Australia     : 1
 AUT    : 1   1st Qu.: 12.25              NA's:30        Austria       : 1
 BEL    : 1   Median : 24.50                             Belgium       : 1
 CAN    : 1   Mean   : 32.97                             Canada        : 1
 CHE    : 1   3rd Qu.: 45.75                             Czech Republic: 1
 CZE    : 1   Max.   :122.00                             Denmark       : 1
 (Other):24                                              (Other)       :24
          X.3     X.4      X.5            X.6            X.7
  1,129,598 : 1    :30   Mode:logical   Mode:logical   Mode:logical
  1,322,965 : 1   a: 0   NA's:30        NA's:30        NA's:30
  1,532,408 : 1   b: 0
  1,821,424 : 1   c: 0
  124,600   : 1   d: 0
  13,579    : 1   e: 0
 (Other)    :24   f: 0
   X.8                                Long.Name                Income.Group
 Mode:logical   Canada                     : 1                       : 0
 NA's:30        Commonwealth of Australia  : 1   High income: nonOECD: 0
                Czech Republic             : 1   High income: OECD   :30
                Federal Republic of Germany: 1   Low income          : 0
                French Republic            : 1   Lower middle income : 0
                Grand Duchy of Luxembourg  : 1   Upper middle income : 0
                (Other)                    :24
                        Region   Lending.category    Other.groups
 Europe & Central Asia     :23        :28                  :16
 East Asia & Pacific       : 4   Blend: 0         Euro area:14
 North America             : 2   IBRD : 2         HIPC     : 0
 Middle East & North Africa: 1   IDA  : 0
                           : 0
 Latin America & Caribbean : 0
 (Other)                   : 0
           Currency.Unit   Latest.population.census
 Euro             :14    2001          :15
 Australian dollar: 1    2006          : 4
 Canadian dollar  : 1    2000          : 3
 Czech koruna     : 1    2002          : 2
 Danish krone     : 1    2005          : 2
 Hungarian forint : 1    Register based: 2
 (Other)          :11    (Other)       : 2
             Latest.household.survey
                         :28
 CPS (monthly)           : 1
 RHS, 1993               : 1
 Demographic survey, 2007: 0
 DGHS, 2003              : 0
 DHS 2007                : 0
 (Other)                 : 0
                                                                                                                                                                                                                                                                                                                                                        Special.Notes
                                                                                                                                                                                                                                                                                                                                                               :10
 Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                   : 2
 A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate entered into force on January 1, 2007: 1 euro = 239.64 Slovenian tolar. Please note that historical data are not actual euros and are not comparable or suitable for aggregation across countries.                     : 1
 A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate entered into force on January 1, 2009: 1 euro = 30.126 Slovak koruna. Please note that historical data are not actual euros and are not comparable or suitable for aggregation across countries.                       : 1
 A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 0.787564 Irish pound. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries.: 1
 A simple multiplier is used to convert the national currencies of EMU members to euros. The following irrevocable euro conversion rate was adopted by the EU Council on January 1, 1999: 1 euro = 1.95583 German mark. Please note that historical data before 1999 are not actual euros and are not comparable or suitable for aggregation across countries. : 1
 (Other)                                                                                                                                                                                                                                                                                                                                                       :14
 National.accounts.base.year National.accounts.reference.year
 2000     :17                Min.   :1995
          :11                1st Qu.:2000
 2000/2001: 1                Median :2000
 2005     : 1                Mean   :2000
 1954     : 0                3rd Qu.:2000
 1973     : 0                Max.   :2007
 (Other)  : 0                NA's   :17
 System.of.National.Accounts SNA.price.valuation Alternative.conversion.factor
 Min.   :1993                   : 0                     :30
 1st Qu.:1993                VAB:29              1960-85: 0
 Median :1993                VAP: 1              1965-84: 0
 Mean   :1993                                    1965-95: 0
 3rd Qu.:1993                                    1970-08: 0
 Max.   :1993                                    1971-84: 0
 NA's   :8                                       (Other): 0
 PPP.survey.year Balance.of.Payments.Manual.in.use
 Min.   :2005        : 0
 1st Qu.:2005    BPM4: 0
 Median :2005    BPM5:30
 Mean   :2005
 3rd Qu.:2005
 Max.   :2005

 External.debt.Reporting.status System.of.trade Government.Accounting.concept
            :29                        : 0                  : 0
 Actual     : 1                 General:14      Budgetary   : 0
 Estimate   : 0                 Special:16      Consolidated:30
 Preliminary: 0



 IMF.data.dissemination.standard
     : 1
 GDDS: 0
 SDDS:29




 Source.of.most.recent.Income.and.expenditure.data Vital.registration.complete
 IHS, 2000  : 5                                       : 0
 IS, 2000   : 3                                    Yes:30
            : 2
 ES/BS, 2000: 2
 ES/BS, 2004: 2
 IS, 1997   : 2
 (Other)    :14
                  Latest.agricultural.census Latest.industrial.data
 2000                          :8            Min.   :2001
 1999-2000                     :7            1st Qu.:2004
 1999-2000 (conducted annually):4            Median :2004
 1999                          :3            Mean   :2004
 2001                          :2            3rd Qu.:2004
                               :1            Max.   :2005
 (Other)                       :5            NA's   :1
 Latest.trade.data Latest.water.withdrawal.data X2.alpha.code   WB.2.code
 Min.   :2008      Min.   :2000                 AT     : 1    AT     : 1
 1st Qu.:2008      1st Qu.:2000                 AU     : 1    AU     : 1
 Median :2008      Median :2000                 BE     : 1    BE     : 1
 Mean   :2008      Mean   :2000                 CA     : 1    CA     : 1
 3rd Qu.:2008      3rd Qu.:2000                 CH     : 1    CH     : 1
 Max.   :2008      Max.   :2004                 CZ     : 1    CZ     : 1
                   NA's   :5                    (Other):24    (Other):24
          Table.Name          Short.Name
 Australia     : 1   Australia     : 1
 Austria       : 1   Austria       : 1
 Belgium       : 1   Belgium       : 1
 Canada        : 1   Canada        : 1
 Czech Republic: 1   Czech Republic: 1
 Denmark       : 1   Denmark       : 1
 (Other)       :24   (Other)       :24

In [69]:
quantile(mergedData$Gross.domestic.product.2012,probs=c(0.2,0.4,0.6,0.8,1))

  20%   40%   60%   80%  100%
 38.6  76.2 113.8 152.4 190.0

In [71]:
library(Hmisc)

In [72]:
mergedData$gdp=cut2(mergedData$Gross.domestic.product.2012,g=5)

In [73]:
table(mergedData$Income.Group,mergedData$gdp)

                       [  1, 39) [ 39, 77) [ 77,115) [115,154) [154,190]
                               0         0         0         0         0
  High income: nonOECD         4         5         8         5         1
  High income: OECD           18        10         1         1         0
  Low income                   0         1         9        16        11
  Lower middle income          5        13        12         8        16
  Upper middle income         11         9         8         8         9

TODO: Start from getdata-videos