In [1]:
# Write code to create a new data frame,
# called 'pf.fc_by_age_gender', that contains
# information on each age AND gender group.

# The data frame should contain the following variables:

#    mean_friend_count,
#    median_friend_count,
#    n (the number of users in each age and gender grouping)

# Here is an example of the structure of your data frame. Your
# data values will be different. Note that if you are grouping by
# more than one variable, you will probably need to call the
# ungroup() function. 

#   age gender mean_friend_count median_friend_count    n
# 1  13 female          247.2953                 150  207
# 2  13   male          184.2342                  61  265
# 3  14 female          329.1938                 245  834
# 4  14   male          157.1204                  88 1201

# See the Instructor Note for two hints.

# DO NOT DELETE THESE NEXT TWO LINES OF CODE
# ==============================================================
pf <- read.csv('https://s3.amazonaws.com/udacity-hosted-downloads/ud651/pseudo_facebook.tsv', sep = '\t')
suppressMessages(library(dplyr))

In [ ]:
# ENTER YOUR CODE BELOW THIS LINE.
# ==============================================================
pf.fc_by_age_gender = tbl_df(pf) %>% ungroup()

In [19]:
tbl_df(pf) %>%
    select(age, gender, friend_count) %>%
    group_by(age, gender) %>%
    filter(!is.na(age)) %>%    
    filter(!is.na(gender)) %>%
    filter(!is.na(friend_count)) %>%
    summarize(mean_friend_count = round(mean(friend_count),4),
              median_friend_count = round(median(friend_count), 4),
              n = n()) %>%
    arrange(age, gender) %>%
    ungroup()

Warning message:
In `[<-.factor`(`*tmp*`, ri, value = "<U+22EE>"): invalid factor level, NA generatedWarning message:
In `[<-.factor`(`*tmp*`, ri, value = "<U+22EE>"): invalid factor level, NA generated

Source: local data frame [202 x 5]

   age gender mean_friend_count median_friend_count    n
1   13 female          259.1606               148.0  193
2   13   male          102.1340                55.0  291
3   14 female          362.4286               224.0  847
4   14   male          164.1456                92.5 1078
5   15 female          538.6813               276.0 1139
6   15   male          200.6658               106.5 1478
7   16 female          519.5145               258.5 1238
8   16   male          239.6748               136.0 1848
9   17 female          538.9943               245.5 1236
10  17   male          236.4924               125.0 2045
.. ...    ...               ...                 ...  ...

In [ ]:
mean_friend_count = mean(integer(friend_count)),
              median_friend_count = median(integer(friend_count))